* {
  scroll-behavior: smooth;
}

/* body {
  background-color: maroon ;
} */

.people-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.rev-people {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rev-people .rev-img-frame {
  height: 300px;
  width: 225px;
  border: 4px solid black;
  border-radius: 30%;
  /* background: #eee; */
  margin: auto;
  /* padding: 30px; */
  overflow: hidden;
}

.rev-people .rev-img-frame img {
  width: 100%;
  height: 100%;
}

.person-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .section-work .rev-img-frame {
  height: auto;
  width: 44%;
} */

.section-work {
  padding: 30px 10px;
  margin: 30px;
  /* height: 100vh; */
  border: 3px solid black;
  display: grid;
  gap: 10px;
  grid-template-columns: 7fr 7fr 4fr;
  grid-template-rows: repeat(3, auto);
}

.rev-img-frame img {
  height: 100%;
  width: 100%;
}

.rev-img-frame.portrait-1 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.rev-img-frame.portrait-2 {
  grid-row: 2/4;
  /* grid-column: 2/4; */
}
